<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/login-signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,300;1,100;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>signup</title>
</head>
<body>
<div class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Sign Up</header>
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Re enter password" class="password">
                    <i class="bx bx-hide eye-icon"></i>
                </div>

                <div class="field button-field">
                    <button>Sign Up</button>
                </div>

                <div class="form-link">
                    <span>Already have an account?</span><a href="login.html" class="link login-link">login</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="assets/JavaScript/login-signup.js"></script>
</html>